<html>
<head>


</head>
<body>

//button
<div class='container'>
    <h3>Testo</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
			<input id="hello" type="text">
            <button onclick="submit_chk();">送出</button>
            
        </form>

</div>
<div id = "content"></div>
<script type="text/javascript">
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(json);
    }

   ////httpGetAsync('http://127.0.0.1:5000/items', function(response) {
   ////     alert(response);
   // } )
	//myAnchor = document.getElementById("test");
	//myAnchor.onclick = {httpGetAsync('http://127.0.0.1:5000/items', //function(response) {
    //   alert(response);
    //} )}
	function httpGetAsync2(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("POST", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }
    function submit_chk(){
        var name = document.getElementById("hello").value;
        var message = "greeting you " + name + "!";
        document
            .getElementById("content")
            .innerHTML = message;
    }
</script>
</body>
</html>
